#Sync signed VPN cert
 tasks:
     - name: Fetch the file from the mwiapp01 to master
       run_once: yes
       fetch: src=/cert/vpn.magicfish.dev.crt dest=buffer/ flat=yes
       when: "{{ inventory_hostname == 'ca.magicfish.dev' }}"

     - name: Copy the file from master to mwiapp02
       copy: src=buffer/vpn.magicfish.dev.crt dest=/tmp/
       when: "{{ inventory_hostname == 'vpn.magicfish.dev' }}"