#Sync signed VPN cert
- name: Sync VPN cert
  hosts: ca.magicfish.dev
  tasks:   
    - name: Copy the file from CA to VPN using Method Pull
      tags: sync-pull
      synchronize:
        src: "{{ item }}"
        dest: "{{ item }}"
        mode: pull
      delegate_to: "vpn.magicfish.dev"
      register: syncfile
      run_once: true
      with_items:
       - "/certs/vpn.magicfish.dev.crt"