#Sync signed VPN cert
     - name: Fetch the file from the CA to master
       run_once: yes
       fetch: src=/cert/vpn.magicfish.dev.crt dest=buffer/ flat=yes
       when: "inventory_hostname == 'ca.magicfish.dev'"

     - name: Copy the file from master to VPN
       copy: src=buffer/vpn.magicfish.dev.crt dest=/tmp/
       when: "inventory_hostname == 'vpn.magicfish.dev'"